
/**
 * Elementele din header
 **/

#logo a {
	text-decoration: none;
	font-weight: bold;
}

#nume {
	font-weight: bold;
}

/**
 * elementele din spate (background)
 **/

#container {
	margin-left: 10px;
}

.w3-label, .w3-input {
	margin-left: auto;
	margin-right: auto;
}

.w3-input {
	/*font-size: 14px;
	height: 18px;*/
}

.w3-label {
	margin-left: 30px;
	vertical-align: middle;
	width: 100px;
}

.formular {
	float: left;
	width: 240px;
}
.formchk {
	float: left;
	width: 150px;
}

.form {
	float: left;
	width: 800px;
}

/*
 * stiluri pentru delegatii
 */

.listadlg p {
	width: 200px;
	text-align: center;
	
}

.inceput, .sfarsit {
	margin-left: 5px;
}

.nume {
	float: left;
	margin: 0 0 0 50px;
}

.asg {
	float: left;
	margin: 0 0 0 10px;
}

.tr1 {
	color: #ffffff;
	background-color: #CDDC39;
	margin: 1px 0 1px 100px;
}

.tr2 {
	color: #ffffff;
	background-color: #3F51B5;
	margin: 1px 0 1px 70px;
}

/**
 * elemente de la pagina pentru generarea PDF-urilor
 **/

.ct {
	float: left;
	width: 100px;
	border: solid black 1px;
	text-align: center;
	margin-bottom: 5px;
}
